* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #b7cce8;
}

:root {
    font-family: "Roboto";
    line-height: 1;
}